{% extends 'base.html' %}

{% block content %}

  <div class="container" id="login-page">
    <div class="jumbotron login-style">
      <h1>Change Password:</h1>
      {% if current_user.admin %}
        <h3>{{ user_name }}</h3>
      {% endif %}
      <hr class="hr-head" style="width: 280px;">
      <form method="POST">

        {{ form.hidden_tag() }}
        <div class="form-group">

          {% if not admin_PW_reset %}
            <p style="margin-bottom: 30px;">
              {% for error in form.old_password.errors %}
              <span class="comment-error">{{ error }}</span>
              {% endfor %}

              {{ form.old_password.label(class="user-labels") }}<br>
              {{ form.old_password(class="form-control logging-input") }}
            </p>
          {% endif %}

          <p style="margin-bottom: 30px;">
            {% for error in form.new_password.errors %}
            <span class="comment-error">{{ error }}</span>
            {% endfor %}

            {{ form.new_password.label(class="user-labels") }}<br>
            {{ form.new_password(class="form-control logging-input") }}
          </p>

          <p style="margin-bottom: 30px;">
            {% for error in form.conf_pass.errors %}
            <span class="comment-error">{{ error }}</span>
            {% endfor %}

            {{ form.conf_pass.label(class="user-labels") }}<br>
            {{ form.conf_pass(class="form-control logging-input") }}
          </p>

          <p style="margin-bottom: 30px;">
            {{ form.submit_pass_change(class="btn btn-outline-info", id="login-btn-lg") }}
          </p>
        </div>

      </form>
      {% if current_user.is_authenticated and current_user.admin %}
        <a class="back-to-dash"
           href="{{ url_for('dashboard.admin') }}">back to dashboard
          <span>
            <i class="far fa-hand-point-left"></i>
          </span>
        </a>
      {% endif %}
    </div>
  </div>

{% endblock %}

<!-- ####### -->
<!-- PAGE JS -->
<!-- ####### -->
{% block script %}
<script type="text/javascript">

  {% include 'js/logging_script.js' %}

</script>
{% endblock %}
